<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <head>
    {{>meta}}
    <title>{{nombreAplicacion}}</title>
    {{>scriptsCss}}
  </head>
  <body>
    {{>header}}
     <!-- Begin page content -->
    <main role="main" class="container">

      <div class="col-md-12 mt-4 mb-4 text-center">
        <h2>Indique un rol</h2>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="radioInteresado" name="radioRol" class="custom-control-input" value="interesado" checked>
          <label class="custom-control-label" for="radioInteresado">Interesado</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="radioCoordinador" name="radioRol" class="custom-control-input" value="coordinador">
          <label class="custom-control-label" for="radioCoordinador">Coordinador</label>
        </div>
      </div>

      <div id="listaCoordinador" class="row my-2" style="display:none;">
        <div class="col-md-12 mt-4 mb-4 text-center" >
          <h2>Cursos disponibles cambiar estado (Coordinador)</h2>
        </div>
        <div>
          {{{listarCursos}}}
        </div>
    </div>
      <div id="listaInteresado" class="row my-2">
        <div class="col-md-12 mt-4 mb-4 text-center">
          <h2>Cursos disponibles (Interesado)</h2>
        </div>
        <div class="card-columns">
          {{#each cursosDisponibles as |item index|}}
            <div class="card">
              <div class="card-header" id="heading{{index}}" data-toggle="collapse" data-target="#collapse{{index}}" aria-expanded="false" aria-controls="collapse{{index}}">
                  <h5 class="card-title btn-link">{{item.nombre}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{#if item.valor}}{{item.valor}}{{else}}0{{/if}} COP</h6>
                  <p class="card-text">{{truncateText item.descripcion 90 '...'}}</p>
              </div>

              <div id="collapse{{index}}" class="collapse hide" aria-labelledby="heading{{index}}" data-parent="#heading{{index}}">
                <div class="card-body">
                  <table class="" style="width:100%">
                      <tbody>
                          <tr>
                              <td><strong>Descripción:</strong></td>
                              <td>{{item.descripcion}}</td>
                          </tr>
                          <tr>
                              <td><strong>Modalidad:</strong></td>
                              <td>{{#if item.modalidad}}{{item.modalidad}}{{else}}-{{/if}}</td>
                          </tr>
                          <tr>
                              <td><strong>Intensidad horaria:</strong></td>
                              <td>{{#if item.intensidadHoraria}}{{item.intensidadHoraria}} horas {{else}}-{{/if}}</td>
                          </tr>
                      </tbody>
                  </table>
                </div>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </main>
    {{>footer}}
    {{>scriptsJs}}

    <script type="text/javascript">
      $( document ).ready( function () {
        $('input:radio[name=radioRol]').change(function() {
              if(this.value == 'coordinador') {
                $('#listaCoordinador').show();
                $('#listaInteresado').hide();
              } else {
                $('#listaInteresado').show();
                $('#listaCoordinador').hide();
              }
         });

        $('input.estado').change(function() {

          let estado = $(this).is(':checked') ? 'disponible' : 'cerrado';
          let idCurso = $(this).closest('tr').find('td').first().html()

            $.ajax({
                    data:  JSON.stringify({estado: estado, idCurso: idCurso}),
                    url:   '/cambiarEstadoCurso',
                    type:  'patch',
                    contentType: 'application/json; charset=utf-8'
            }).done(function(respuesta) {

            }).fail(function(e){
              
            });
        })

      })
    </script>  
  </body>
</html>